.popover.fade.in,
.popover
{
    border-radius: 0;
    border: 1px solid #fff;
    background-color: #444; 
    color: white;
    opacity: 0.95;
    max-width: 550px;
    max-height: 250px;
}
.popover.top>.arrow:after,
.popover >.arrow:after {
    border-top-color: #444;
}

.popover.top>.arrow,
.popover >.arrow {
  margin-left:-5px;
  border-top-color:#fff;
  margin-top:-5px;
  border-top-width: 10px;
}

.popover-body { text-align: left; }
.popover-title {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}
.popover-title svg { margin: 10px 10px 0px 0px; }
.popover-html { display: none; }
.popover.bottom > .arrow {
  top: -6px;
  border-top-color: transparent;
  border-bottom-color: white;
  border-bottom-width: 10px;
}

.popover.top>.arrow {
    bottom: -10px;
}

.popover.right .arrow{
    border-top-color: transparent;
    margin-left: 1px;
}
.popover.right>.arrow:after{
    border-right-color: #444;
    border-top-color: transparent;
}
.popover.left>.arrow:after{
    border-left-color: #444;
}
.popover.bottom>.arrow:after{
  border-bottom-color: #444;
}

.ni-svg-container {
    position: relative;
    width: 15px;
    float: right;
    right: 2px;
    height: 15px;
}

.ni-close-popup {
    cursor: pointer;
    opacity: 1;
    fill: #ccc;
    float: right;
}
.ni-tooltip {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.ni-btn-popover, .ni-btn-popover:hover, .ni-btn-popover:active, .ni-btn-popover:focus {
    border: 2px solid #fff;
    margin: 12px 10px 12px 12px;
    float: left;
    width: auto !important;
    outline: none !important;
    background-color: transparent !important;
    display: inline-block;
    color: #fff;
}
#close-modal-pdp {
    cursor: pointer;
    opacity: 1;
    fill: #ccc;
    float: right;
}

.ni-popover-buttons {cursor: pointer;}

.ni-popover-title, .ni-popover-text {
    padding-left: 0px !important;
    margin-left: 0px !important;
}
.popover-title {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.buttons-container {
    display: inline;
    float: left;
    width: 500px;
}